*/node_modules/
.DS_Store

PYTHON101_2021/notesProject/venv/lib/python3.9/site-packages/pip/_internal/models/__pycache__/

PYTHON101_2021/.idea/

PYTHON101_2021/fromGithub/sot-python-main/.idea/

PYTHON101_2021/notesProject/.idea/

PYTHON101_2021/notesProject/venv/lib/python3.9/site-packages/pip/_internal/__pycache__/

PYTHON101_2021/notesProject/venv/bin/

PYTHON101_2021/notesProject/venv/lib/python3.9/site-packages/pip/_internal/distributions/__pycache__/

PYTHON101_2021/notesProject/venv/lib/python3.9/site-packages/_distutils_hack/

PYTHON101_2021/notesProject/venv/lib/python3.9/site-packages/

PYTHON101_2021/notesProject/venv/

FNZ_API_PROXY/node-api-proxy
